
#movies{
    background-color: white;
}
body{
    font-family: 'Spectral', serif;
}

/* tr:nth-child(even) {
background-color: #02b875;
color: white;
} */

tr:hover {
    background-color: #02b875;
    color: white;
}

.top-buffer { 
    margin-top:20px; 
}

.bottom-buffer {
    margin-bottom: 20px;
}
